<div class="row">
  <div class="col-sm-6 col-md-8 col-md-offset-2">
    <h3>Staff Picks</h3>
    <div class="row staff-picks">
      <div class="col-md-3"><%= image_tag nil, data: { src: 'holder.js/100%x180' }, class: 'img-thumbnail' %></div>
      <div class="col-md-3"><%= image_tag nil, data: { src: 'holder.js/100%x180' }, class: 'img-thumbnail' %></div>
      <div class="col-md-3"><%= image_tag nil, data: { src: 'holder.js/100%x180' }, class: 'img-thumbnail' %></div>
      <div class="col-md-3"><%= image_tag nil, data: { src: 'holder.js/100%x180' }, class: 'img-thumbnail' %></div>
    </div>

    <div class="row staff-picks">
      <div class="col-md-3"><%= image_tag nil, data: { src: 'holder.js/100%x180' }, class: 'img-thumbnail' %></div>
      <div class="col-md-3"><%= image_tag nil, data: { src: 'holder.js/100%x180' }, class: 'img-thumbnail' %></div>
      <div class="col-md-3"><%= image_tag nil, data: { src: 'holder.js/100%x180' }, class: 'img-thumbnail' %></div>
      <div class="col-md-3"><%= image_tag nil, data: { src: 'holder.js/100%x180' }, class: 'img-thumbnail' %></div>
    </div>
  </div>
</div>

